.headerDark{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
}

.menu-icon{
    font-size: 24px;
}

.mobile-menu{
    display: none;
}

.logo{
    display: flex;
    font-size: 36px;
    color: #db7568;
    font-weight: 800;
}

.mobile-menu{
    display: flex;
}
.web-menu{
    display: none;
}
.logo{
    font-size: 24px;
}

.menu:hover{
    cursor: pointer;
}